/* you can put styles in here :) */
a{ 
color: #FFF;
text-align: center;
font-family: "Stick No Bills",Verdana, Geneva, Tahoma, sans-serif;
font-size: 20px;
font-weight: 800;
text-transform: uppercase;
text-decoration: none
}
a:hover, a:focus{
text-decoration: underline;
}
body{
color: #FFF;
font-family: "Stick No Bills", sans-serif;
background-color: #1E1E1E;
background-position: center;
margin:0px;
}

h1{
text-align: center;
font-family: "Stick No Bills", sans-serif;
font-size: 80px;
font-weight: 800;
text-transform: uppercase;
margin: 0;
padding-top: 35px;
}
#HudsonValley{
padding-top:25px;
padding-bottom: 35px;
}

#TitleAbandonedHV{
background-image: url('celing tiles.jpg');
background-size: cover;
background-position:top;
min-height: 375px;
min-height: 400px;
display: flex;
justify-content: space-around;
flex-direction: column;
}

#TitleLocations{
    background-image: url('locations 1 (2).jpg');
    background-size: cover;
    background-position:top;
    min-height: 375px;
    min-height: 400px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}

#TitleNews{
    background-image: url('Casino Trail.png');
    background-size: cover;
    background-position:top;
    min-height: 375px;
    min-height: 400px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}

header div {
flex-grow: 1;
display: flex;
justify-content: center;
flex-direction: column;
}

nav{
    display:flex;
    justify-content: space-around;
    max-width: 100vw;
    }

nav a {
color: #FFF;
text-align: center;
font-family: "Stick No Bills",Verdana, Geneva, Tahoma, sans-serif;
font-size: 25px;
font-weight: 800;
text-transform: uppercase;
}

main{

}

main.news{
display:flex;
flex-direction: column;
align-items: center;
}

.news img{
    min-height: 180px;
    width: 90%;
    min-width: 270px;
    max-width: 500px;
    border-radius: 21px;
    display: flex;
    justify-content: center;
    align-items: center;
}

main.news H2{
    font-size:30px;
}

.news a h2{
    font-family: Crimson Text, Verdana, Geneva, Tahoma, sans-serif;
    font-size: 30px;
}
.home main{
text-align: center;
font-size: 29px;
font-weight: 800;
text-transform: uppercase;
padding: 60px;
display: flex;
flex-direction: column;
align-items: center;
gap: 13px;
}

.locations main{
    padding: 10px ;
}
#Elda-Castle-Article{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: black;
    width:70%;
    padding-top:20px;
}
#Poughkeepsie-Abandoned-Hospital-Article{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: black;
    width:70%;
    padding-top:20px;
}
.box {
min-height: 180px;
width: 90%;
min-width: 270px;
max-width: 500px;
border-radius: 21px;
display: flex;
justify-content: center;
align-items: center;

}
#locations{
background-image: url('locations 1 (2).jpg');
background-position: center;
background-size: cover;

}
#about{
background-image: url('edited community 2 (2).jpg');
background-position: center;
background-size: cover;

}
#news{
background-image: url('Casino Trail.png');
background-position: center;
background-size: cover;
}

.locations img{
    min-height: 180px;
    width: 90%;
    min-width: 270px;
    max-width: 500px;
    border-radius: 21px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.locations{
    display:flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-size: 25px;
}


.Location-iframe{
    display:flex;
    justify-content: center;
}

.locations H2{
    display:flex;
    justify-content: center;
    padding-bottom:20px;
    font-size:30px;
}

/*.locations p{
    font-family: Crimson Text, Verdana, Geneva, Tahoma, sans-serif;
}*/

a{ 
transition: 0.5em ease;
text-decoration: none;
}


footer{
text-align: center;
font-size: 20px;
font-weight: 800;
text-transform: uppercase;
background-color:#382F3A;
 padding: 20px; 
}
@media (min-width:800px){
    .home main{
    flex-direction: row;
}
}