<!DOCTYPE html>
<html lang="en">
  {% include 'head', title:'About | Abandoned HV' %}
  <body class="page">
    {% include 'header' %}
    <div id="TitleAbout">
      <h1>About</h1>
      </div>
  <main class="about">
    <div class="about-content">
      <div class="about-box">
        <h2 > Our Mission </h2>
        <p>At Abandoned Hudson Valley, our mission is to keep you informed and engaged with the latest news about abandoned structures, share detailed locations of these intriguing sites, and ensure your safety as you explore. We are dedicated to providing timely updates, comprehensive information, and safety guidelines to make your explorations both enriching and secure.</p>
      </div>
      <div class="about-box">
        <h2> Stay Connected</h2>
        <p>Follow us on social media, subscribe to our newsletter, and join local community forums to stay connected with the latest updates and discussions. Together, we can explore, preserve, and celebrate the rich tapestry of history that lies within the abandoned Hudson Valley.
        </p>
     
      <div class="social-media">
        <a href="https://www.facebook.com/abandonedhudsonvalley" target="blank">
          <img src="/assets/350974_facebook_logo_icon 1.png" >
        </a>
        <a href="https://www.reddit.com/r/abandoned/" target="_blank">
          <img src="/assets/629756c87ec76b82fb21fcc9 1.png">
          </a>
          <a href="https://www.instagram.com/abandonedhudsonvalley/" target="_blank">
            <img src="/assets/vecteezy_instagram-logo-png-instagram-logo-transparent-png_23986521 1.png">
          </a>
          </div>
          </div>
      </div>
</main>
    {% include 'footer' %}
    </body>
  </html>