<!DOCTYPE html>
<html lang="en">
  {% include 'head', title:"Abandoned Hudson Valley' %}
  <body class="home"> 
     {% include 'header', title:"Abandoned Hudson Valley' %}
    </div class="Abandoned HV Head">
     <div id="TitleAbandonedHV">
     <h1>Abandoned<br>Hudson Valley</h1>
     </div>
    <main id="main-content">
        <div id="locations" class="box"> 
            <a href="/Locations/">
            <h2>Locations</h2>
            </a>
        </div>
        <div id="community" class="box">
            <a href="/subfolder/example/">
            <h2>Community</h2>
            </a>
        </div>
        <div id="news" class="box">
         <a href="">
            <h2 >News</h2>
        </div>    
      </main>
    {% include 'footer' %}
  </body>
</html>
