<!DOCTYPE html>
<html lang="en">
  {% include 'head', title:"Abandoned Hudson Valley' %}
  <body class="home"> 
     {% include 'header', title:"Abandoned Hudson Valley' %}
    </div class="Abandoned HV Head">
     <div id="TitleAbandonedHV">
     <h1>Abandoned<br>Hudson Valley</h1>
     <div class="hometext">
      <p>Welcome to the underbelly of the Hudson Valley. <br>
      Discover the haunting allure of the Hudson Valley's abandoned structures. <br>
      From forgotten mansions to deserted factories, each abandoned structure carries wispers of its former glory,<br>
       waiting to be rediscovered...
      </p>
      </div>
     </div>
    <main id="home-main-content" class="home">
      <div id="locations" class="box"> 
            <a href="/Locations/" >
            <h2>Locations</h2>
            </a>
        </div>
        <div id="news" class="box">
         <a href="/News">
            <h2 >News</h2>
        </div>    
        <div id="about" class="box">
          <a href="" >
          <h2>About</h2>
          </a>
      </div>
      </main>
    {% include 'footer' %}
  </body>
</html>
