<!DOCTYPE html>
<html lang="en">
  {% include 'head', title:'Locations | Abandoned HV' %}
  <body class="page">
    {% include 'header' %}
    <div id="TitleLocations">
      <h1>Locations</h1>
    </div>
    <main id="main-content">
    </main>
    <H2 class="locationH2">
      Click locations on the map to explore.
    </H2>
    <div class="Location-iframe">
    <iframe src="https://www.google.com/maps/d/embed?mid=17pOIObwe1znQ-thF-YbNc8C8jAqZaLA&ehbc=2E312F&noprof=1" width="640" height="480"></iframe>
    </div>
    <div class="locationdiscriptions">
        <H2>Letchworth Psychiatric Hospital</H2>
      <img src="/assets/Letchworth.jpg" alt="Photo of Letchworth Psychiatric Hospital">
        <p>
          Haverstraw, NY <br>
          Safety Rating: 6/10 <br>
          Entering is trespassing. <br>
          Beware of police. <br>
          Beware of Asbestos and structural stability. <br>
          Please wear a mask and safety Gear if you plan to enter.
          </p>
    
        <h2> Elda Castle </h2>
          <img src="/assets/Elda Castle 1.jpg" alt="Photo of Elda Castle">
            <p>
              Ossining, NY <br>
              Safety Rating: 6/10 <br>
              Entering is trespassing. <br>
              Beware of police. <br>
              Beware of Instability due to fire. <br>
              Prepare and wear safety gear. 
            </p>
      
      <h2> Bannerman Castle </h2>
        <img src="/assets/Bannerman-Castle-9036 1.jpg" alt="Photo of Bannerman Castle">
          <p>Beacon, NY <br>
          Safety Rating: 10/10 <br> 
            Seasonal walking tours and events held periodically.</p>
              <a href="https://bannermancastle.org/">
              <p>Get tickets here. </p>
            </a>

        <h2>Overlook Mountain House Ruins</h2>
        <img src="/assets/overlook mountain house 1.jpg" alt="Photo of Overlook Mountain House Ruins">
        <p>
        Bearsville, NY <br>
        Safety Rating: 8/10 <br>
        Prepare for a steep hike. <br>
        Building is structurally sound but watch your step!
        </p>
 
      <h2> Tioronda Hat Works Factory</h2>
      <img src="/assets/tioronda hat facoty 1.jpg" alt="Photo of Tioranda Hat Factory Ruins">
      <p>
        Beacon, NY <br>
        Safety Rating: 7/10 <br>
        Entering is trespassing. <br>
        Beware of police. <br>
        Beware of holes and structural stability. <br>
        Prepare and wear safety gear.
      </p>

    <H2>Casino Trail Ruins</H2>
    <img src="/assets/IMG_5786 1.png" alt="Photo of Casino Ruins"> 
    <p> Beacon, NY <br>
      Safety Rating: 9/10 <br>
      Prepare for a steep hike. <br>
      Most of the ruins are structurally sound but watch your step!
    </p>
   </div>
    {% include 'footer' %}
  </body>
</html>
