<!DOCTYPE html>
<html lang="en">
{% include 'head', title:'News | Abandoned HV' %}

<body class="page">
  {% include 'header' %}
  <div id="TitleNews">
    <h1>News</h1>
    <div class="hometext">
      <h2>Stay up to Date</h2>
    </div>
  </div>
  <main class="news">
    <div id="Elda-Castle-Article">
      <img src="/assets/Screenshot 2024-05-05 221234 1.jpg " alt="Photo of Elda Castle">
      <a href="https://nypost.com/2024/01/10/real-estate/overgrown-westchester-castle-asks-2-9-million/" target="blank">
        <H2>Overgrown New York castle built by Abercrombie & Fitch founder lists for $2.9M</H2>
    </div> </a>
    <div id="Poughkeepsie-Abandoned-Hospital-Article">
      <img src="/assets/7mir48Xi-Hudson-River-State-Hospital-Crop (1) 2.jpg"
        alt="Old Drawing of Hudson River State Hospital">
      <a href="https://hvmag.com/home-real-estate/poughkeepsie-abandoned-psychiatric-hospital-hudson-heritage/#:~:text=In%20August%202019%2C%20EFG%2DSaber,of%20Poughkeepsie's%20former%20psychiatric%20hospital."
        target="blank">
        <h2>Poughkeepsie’s Abandoned Psychiatric hospital gets an update</h2>
    </div>
    </a>

  </main>
  {% include 'footer' %}
</body>

</html>